<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<link href="/tastebud_media/tastebud_style.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/media/favicon.gif" type="image/gif" />
	<link rel="alternate" type="application/rss+xml" title="{{site_name}} Feed" href="{{ feed_url }}" />
    <title>{% block title %}{{ site_name }}{% endblock %}</title>
</head>

<body>
	<div id="header">
		<div id="title">A Blog</div>
		<div id="about">
			Is this even a blog?  Really?  It's so bare!<br>
			<a href="http://code.google.com/p/tastebud" style="color: darkred;">Powered by Idleness</a>
		</div>
    </div>
	
	<div id="content">
		{% block main %}
		{% endblock %}
	</div>
	    	
</body>
</html>
