{% extends 'base.html' %}

{% block title %}
{{title}}
{% endblock %}

{% block main %}

	<h1>{{ category.name }}</h1>
	
	<p>{{ category.description }}</p>

	{% for entry in entries %}
		<h1><a href="{{entry.get_absolute_url}}">{{entry.title}}</a></h1>
		
		{% for author in entry.author_set.all %}
		<div class="entry_author">{{ author }}</div>
		{% endfor %}
		
		<div class="entry_date">Added {{entry.date_added}}</div>
		
		{% if entry.photo %}
			<div class="photo">
				{{entry.photo.show}}
				<p class="caption">{{entry.photo.caption}}</p>
			</div>
		{% endif %}
		
		<div class="entry_body">
			{{entry.body|linebreaks}}
			{% if entry.podcast %}
				<p>{{entry.podcast}}</p>
			{% endif %}
		</div>
	{% endfor %}
	
	<div><a href="/blog_archive">...More Articles</a></div>

{% endblock %}