<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<link href="/media/style.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/media/favicon.gif" type="image/gif" />
	<link rel="alternate" type="application/rss+xml" title="{{site_name}} Feed" href="{{ feed_url }}" />
    <title>{% block title %}{{ site_name }}{% endblock %}</title>
</head>

<body>
    <div id="header_graphic">
    	<a href="/">
        	<img src="/media/logo.png">
    	</a>
    </div>
    	
	<div id="content">
		{% block main %}
		{% endblock %}
	</div>
	    	
</body>
</html>
