{% extends 'base.html' %}

{% block title %}
{{title}}
{% endblock %}

{% block main %}

<div id="page-about">
	<h2>Articles tagged with <div class="category-name">{{ category.name }}</div></h2>
	
	<p>{{ category.description }}</p>
</div>

{% if entries %}
	<table>
		<tr align="left">
			<th>Date</th>
			<th>Title</th>
			<th>Author</th>
			<th>Listen</th>
		</tr>
		{% for entry in entries %}
		<tr align="left" class="listline{%cycle 0,1%}">
			<td>
				{{entry.date_added}}
			</td>
			<td>
				<a href="{{entry.get_absolute_url}}">{{entry.title}}</a>
			</td>
			<td>
				{{entry.pretty_author_list}}
			</td>
			<td>
				{% if entry.podcast %}
				<embed src="/media_root/flash_mp3_player/mp3player.swf" width="18" height="20" bgcolor="#FFFFFF"
				type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" 
				flashvars="file={{ entry.podcast.get_absolute_url }}" />
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</table>
{% else %}
	<p>No articles have been written.</p>
{% endif %}
	
<div><a href="/blog_archive">...More Articles</a></div>

{% endblock %}