{% extends 'base.html' %}

{% block title %}
{{title}}
{% endblock %}

{% block main %}

<div id="page-about">
	<h2>Articles tagged with <div class="category-name">{{ category.name }}</div></h2>
	
	<p>{{ category.description }}</p>
</div>

{% if entries %}
	<table>
		<tr align="left">
			<th>Date</th>
			<th>Title</th>
			<!--><th>Comment Count</th>-->
		</tr>
		{% for entry in entries %}
		<tr align="left" class="listline{%cycle 0,1%}">
			<td>
				{{entry.date_added}}
			</td>
			<td>
				<a href="{{entry.get_absolute_url}}">{{entry.title}}</a>
			</td>
			<!--><td>
				{{ comment_count }}
			</td>-->
		</tr>
		{% endfor %}
	</table>
{% else %}
	<p>No articles have been written.</p>
{% endif %}
	
<div><a href="/blog_archive">...More Articles</a></div>

{% endblock %}