{% extends "base.html" %}
{% load comments.comments %}

{% block title %}
{{title}}
{% endblock %}

{% block main %}

	{% for entry in entries %}
		<h1><a href="{{entry.get_absolute_url}}">{{entry.title}}</a></h1>
		
		{% for author in entry.authors.all %}
		<div class="entry_author">{{ author }}</div>
		{% endfor %}
		
		<div class="entry_date">Added {{entry.date_added}}</div>
		
		{% if entry.photo %}
			<div class="photo">
				{{entry.photo.show}}
				<p class="caption">{{entry.photo.caption}}</p>
			</div>
		{% endif %}
		
		<div class="entry_body">
			{{entry.body|linebreaks}}
			{% if entry.podcast %}
				<p>
					Listen to the podcast:
					<embed src="/media_root/flash_mp3_player/mp3player.swf" width="300" height="20" bgcolor="#FFFFFF"
					type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" 
					flashvars="file={{ entry.podcast.get_absolute_url }}" />
					<br>or <a href="{{entry.podcast.get_absolute_url}}">download it</a>.
				</p>
			{% endif %}
		</div>
		
		<div class="entry_categories">
			Filed under:
			{% for category in entry.categories.all %}
			{{ category.link }}
			{% endfor %}
		</div>
		
	{% endfor %}
	
	<div><a href="/blog_archive">...More Articles</a></div>

{% endblock %}
